{% extends "base.html.twig" %}
{% set title = "Supprimer le livre: " ~ book.title %}
{% block title %}{{ parent() }} - {{title}}{% endblock %}
{% block body %}
<h2>{{ title }}</h2>


<form method="post" action="{{ app.request.uri }}">
    <input type="hidden" name="_method" value="DELETE">

    <strong>Etes vous sur de voulor supprimer le livre</strong>

    <a class="btn btn-primary" href="{{ path('book:show', {id: book.id}) }}"> Non</a>
    <button type="submit" class="btn btn-danger" >Oui</button>
</form>


{% endblock %}