{% extends 'base.html.twig' %}
{% set title = "Liste des livres" %}
{% block title %}{{ parent() }} - {{title}}{% endblock %}
{% block body %}
<h2>{{ title }}</h2>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Titre</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for book in books %}
        <tr>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>
                <a href="{{ path('book:show', {id: book.id}) }}">show</a>
                <a href="">edit</a>
            </td>
        </tr>
    {% endfor %}
        
    </tbody>
</table>
{% endblock %}
