<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Book SuperStore 3000!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %} 
    </head>
    <body>
        <header class="main-header mb-4">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                   <a class="nav-link" href="{{ path('app_homepage')}}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('book:index')}}">Livres</a>   
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('book:create')}}">Ajouter un livres</a>    
                </li>
            </ul>
            
        </header>
    {% for message  in app.flashes('success') %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}
        {% block body %}{% endblock %}
        <!-- JavaScript Bundle with Popper -->
        <footer class=" container main-footer text-center fixed-bottom">
            {{ copyright(2021, 'M2I') }}
        
        </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
